<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>User Story Manager</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fixed">
    <div class="navbar-header">
      <a class="navbar-brand"> User Story Manage - Add new story</a>
    </div>
  </div>
</nav>
<div style="padding: 70px 20px;">
    <p>Story Title</p>
    <form action = "{{ url_for('new_story') }}" method="POST">
    <p><input name="story_title", style="width: 400px"></p>
    <p>User Story</p>
    <p><input name="user_story", style="width: 400px; height: 100px"></p>
    <p>Acceptance Criteria</p>
    <p><input name="acceptance_criteria", style="width: 400px; height: 100px"></p>
    <p>Business Value</p>
    <p><input type="number" name=business_value min="100" max="1500" step="100"></p>
    <p>Estimation</p>
    <p><input type="number" name=estimation min="0.5" max="4" step="0.5"></p>
    <p>Status</p>
        <select>
            <option>Planning</option>
            <option>To Do</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select>
    <p><button type="submit">Submit</button></p>
        </form>
</div>

</body>
